{% extends 'base_restaurateur_page.html' %}

{% load restaurateur_tags %}

{% block title %}Необработанные заказы | Star Burger{% endblock %}

{% block content %}
  <center>
    <h2>Необработанные заказы</h2>
  </center>

  <hr/>
  <br/>
  <br/>
  <div class="container">
   <table class="table table-responsive">
    <tr>
      <th>ID заказа</th>
      <th>Стоимость заказа</th>
      <th>Клиент</th>
      <th>Телефон</th>
      <th>Адрес доставки</th>
      <th>Статус заказа</th>
      <th>Способ оплаты</th>
      <th>Комментарий</th>
      <th>Рестораны</th>
      <th>Ссылка на админку</th>
    </tr>

     {% for order in orders %}
      <tr>
        <td>{{ order.id }}</td>
        <td>{{ order.price }} руб.</td>
        <td>{{ order.firstname }} {{ order.lastname }}</td>
        <td>{{ order.phonenumber }}</td>
        <td>{{ order.address }}</td>
        <td>{{ order.status }}</td>
        <td>{{ order.payment }}</td>
        <td>{{ order.comment }}</td>
        <td>
          <details>
            <summary>Развернуть</summary>
            <ul>
              {% for restaurant in restaurants|get_value:order.id %}
                <li>{{ restaurant }}</li>
              {% endfor %}
            </ul>
          </details>
        </td>
        <td>
          <a href="{% url 'admin:foodcartapp_order_change' order.id %}?next={{ request.get_full_path|urlencode }}">
            Редактировать
          </a>
        </td>
      </tr>
    {% endfor %}
   </table>
  </div>
{% endblock %}
